{% extends "@Core/Default/layout.html.twig" %}

{% block body %}
    <!-- Section3 - BitWallet onBlockchain -->
    <div class="clearfix"></div>
    <div id="to_products" class="padding_top-80 text_center page-fill">
        <div class="container">
            <div class="row vc_row-has-fill">
                <div class="col-sm-7">
                    <div class="title-subtile-holder wow fadeInLeft text_left">
                        <h1 class="section-title light_title no-margin">Comment la block-chain amène une sécurité supplémentaire aux échanges ?</h1>
                        <div class="spacer_10"></div>
                        <div class="clearfix"></div>
                        <div class="section-border green_border no-margin"></div>
                        <div class="spacer_10"></div>
                        <div class="section-subtitle light_subtitle">
                                Par définition, la blockchain est une technologie de stockage et de transmission d’informations, transparente, sécurisée, et fonctionnant sans organe central de contrôle (définition de Blockchain France). Il existe des blockchains publiques, ouvertes à tous, et des blockchains privées, dont l’accès et l’utilisation sont limitées à un certain nombre d’acteurs. Une blockchain publique peut donc être assimilée à un grand livre comptable public, anonyme et infalsifiable… Nous allons voir en quoi cela apporte une sûreté supplémentaire aux échanges.</div>
                    </div>
                    <div class="spacer_40"></div>
                    {# <div class="text-center bitwallet-btn modeltheme_button wow fadeInLeft">
                        <a href="#" class="button-winona btn btn-medium btn_custom_blue_grad">WHITEPAPPER</a>
                    </div> #}
                </div>
                <div class="col-sm-5" style="padding-top:90px;">
                    <figure class="fadeInRight wow">
                        <img src="/bundles/front/assets/images/img.png" height="512" width="355" class="fadeInRight wow" alt="Vector-Smart-Object10"/>
                    </figure>
                </div>
                <div class="spacer_80"></div>
                <div class="clearfix"></div>
                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text wow fadeIn">
                    <span class="vc_sep_holder vc_sep_holder_l">
                        <span class="sep_line"></span>
                    </span>
                    <span class="vc_sep_holder vc_sep_holder_r">
                        <span class="sep_line"></span>
                    </span>
                </div>
                <div class="spacer_50"></div>
              <div style="text-align:center;">
                  <img src="/bundles/front/assets/images/block2.png" alt="blockchain">
              </div>
            </div>
        </div>
    </div>

{% endblock body %}