{% extends "@Core/Default/layout.html.twig" %}
{% block body %}
<div class="one-page-blog">
        <div class="container padding_80">
            <div class="row">
                <div class="col-md-9 main-content">
                    <div class="article-header">
                        <div class="article-details">
                            <img width="900" height="550" style="padding-top:90px;" src="/bundles/front/assets/images/etherum.png" class="attachment-cryptic_blog_900x550   size-cryptic_blog_900x550 wp-post-image" alt="" />
                            <div class="clearfix"></div>
                            <h1 class="post-title text-white">
                               <strong>L'Ethereum</strong>
                            </h1>
                            <div class="post-category-comment-date row">
                                <span class="post-date"><i class="icon-calendar"></i>4 Novembre 2018</span>
                                <span class="post-categories">
                                    <i class="icon-tag"></i>
                                    <a href="#" rel="tag">Crypto</a>
                                </span>
                                <span class="post-author">
                                    <i class="icon-user icons"></i>
                                    <a href="#">Maxence</a>
                                </span> 
                            </div>
                        </div>
                    </div>
                    <!-- CONTENT -->
                    <div class="article-content">
                        <p>Avec la deuxième plus grande capitalisation boursière dans le monde des crypto-monnaies, l’Ethereum a rapidement attiré l’attention des investisseurs et des amateurs de cryptocurrency. Cette crypto-monnaie relativement nouvelle ne constitue pas seulement un changement significatif par rapport aux crypto-monnaies les plus connues. L’Ethereum permet également le développement et le déploiement rapides de nouvelles applications. L’Ethereum a contribué en grande partie à la création de dizaines de nouvelles crypto-monnaies extrêmement innovantes.</p>
                        <p><span></span></p>
                        <p>L' ethereum est une plateforme virtuelle qui adopte le protocole d'échanges décentralisés établit par le bitcoin, tout en développant son utilisation à plusieurs autres applications. À ne pas confondre avec l'ether, la crypto-monnaie à la base du réseau, qui est souvent appelée ethereum.</p>
                        <p><span></span></p>
                        <p>La plateforme ethereum a été lancée en 2015 par le programmeur Vitalik Buterin, originaire de Toronto. Son but étant d'héberger une crypto-monnaie, mais aussi et surtout des applications collaboratives et décentralisées. L'ether (ETH) est une crypto-monnaie qui peut être utilisée comme moyen de paiement sur cette plateforme. Comme le bitcoin, l'ether existe dans le cadre d'un système financier pair-à-pair autonome, sans aucune supervision ou intervention de l'État. Et comme le bitcoin, l'éther a vu sa valeur monter en flèche très rapidement.</p>
                        <p><span></span></p>
                        <p>Ethereum offre quelques différences par rapport à Bitcoin :</p>
                        <ul>
                            <li><p>La blockchain Ethereum accepte un nouveau bloc tout les 12 secondes comparée au Bitcoin qui demande 10 minutes. Cet aspect, permis par l’utilisation du protocole Ghost  (Greedy Heaviest Observed Subtree), donne des temps de transaction plus rapides.</p></li>
                            <li><p>Le modèle de création et livraison de nouvelle monnaie (bitcoin dans un cas, ether dans l’autre) n’est pas le même:  pour le Bitcoin la récompense pour avoir cassé un nouveau bloc est divisé par deux environ tous les 4 ans, alors que Ethereum délivre le même montant de éther de manière régulière chaque année et à l’infini.</p></li>
                            <li><p>La calcul du coût de transaction n’est pas le même: dans Ethereum il dépend de la complexité  d’une transaction et de l’utilisation qu’elle fait des ressources machine (cycles de la machine, largeur de bande, quantité de stockage…) Les transactions bitcoin sont standard et toutes un clone égale l’une avec l’autre. Le cout de transaction est discrétise dans Ethereum en unités de ether appellées gaz.</p></li>
                        </ul>
                    </div>
                    <!-- Cryptocurrency List Widget -->
                    <h3 class="text-bold text-white">Cours Etherum</h3>
                    <div class="ccpw-widget">
                        <table class="ccpw_table table-blog-affiliate">
                            <thead>
                                <tr>
                                    <th>Crypto-monnaie</th>
                                    <th>Prix</th>
                                    <th>24H Changes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="ccpw_icon ccpw_coin_logo"><i class="cc ETH"></i></div>
                                        <div class="ccpw_coin_info">
                                           <span class="name">Etherum</span>
                                           <span class="coin_symbol">(ETH)</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <div class="price-value">{{ETHInfo}} <i class="fa fa-eur" aria-hidden="true"></i></div>
                                    </td>

                                    <td>
                                        {% if ETHRate > 0 %}<span class="changes up"><i class="fa fa-arrow-up" aria-hidden="true">   </i>  {{ETHRate|round(2)}}%</span>
                                        {% else %}
                                        <span class="changes up" style="color: red;"><i class="fa fa-arrow-down" aria-hidden="true">   </i>  {{ETHRate|round(2)}}%</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="spacer_40"></div>
                    <div class="spacer_40"></div>

                    <div class="clearfix"></div>
                    {% include "@Core/Default/social.html.twig" %}
{% endblock body %}