
 <!-- Social links -->
 <div class="article-social">
        <ul class="social-sharer">
           <li class="facebook">
              <a data-toggle="tooltip" title="Share on Facebook" data-placement="top" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
           </li>
           <li class="twitter">
              <a data-toggle="tooltip" title="Tweet on Twitter" data-placement="top" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
           </li>
           <li class="google-plus">
              <a data-toggle="tooltip" title="Share on G+" data-placement="top" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
           </li>
           <li class="pinterest">
              <a data-toggle="tooltip" title="Pin on Pinterest" data-placement="top" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
           </li>
           <li class="linkedin">
              <a data-toggle="tooltip" title="Share on LinkedIn" data-placement="top" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           </li>
           <li class="reddit">
              <a data-toggle="tooltip" title="Share on Reddit" data-placement="top" href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
           </li>
           <li class="tumblr">
              <a data-toggle="tooltip" title="Share on Tumblr" data-placement="top" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
           </li>
        </ul>
     </div>
     <div class="clearfix"></div>

     <!-- COMMENTS -->
     <div class="comments-area">
         <div class="comment-respond">
             <h3 class="comment-reply-title text-white">Laisse un commentaire<small><a rel="nofollow" id="cancel-comment-reply-link" class="js-action" href="#"   style="display:none;">Cancel reply</a></small></h3>
             <form action="#" method="post" class="comment-form" novalidate>
                 <p class="comment-notes"></p>
                 <div class=" form-comment">
                     <p class="comment-form-author relative ">
                         <textarea cols="45" rows="5" aria-required="true" placeholder="Votre commentaire..." name="comment"></textarea>
                     </p>
                 </div>
                 <div class="row form-fields">
                     <p class="comment-form-author relative col-md-4">
                         <input class="focus-me" placeholder="Votre nom..." name="author" type="text" value="" size="30" />
                         <i class="icon-user absolute"></i>
                     </p>
                     <p class="comment-form-author relative col-md-4">
                         <input class="focus-me" placeholder="Votre email..." name="email" type="text" value="" size="30" />
                         <i class="icon-envelope absolute"></i>
                     </p>
                     <p class="comment-form-author relative col-md-4">
                         <input class="focus-me" placeholder="Votre site..." name="url" type="text" value="" size="30" />
                         <i class="icon-globe absolute"></i>
                     </p>
                 </div>
                 <p class="form-submit">
                     <input name="submit" type="submit" class="submit" value="Ajouter le commentaire" /> 
                     <input type='hidden' name='comment_post_ID'  value   = '329' />
                    <input type='hidden' name='comment_parent' value='0' />
                 </p>
             </form>
         </div>