
 <!-- Social links -->
 <div class="article-social">
        <ul class="social-sharer">
           <li class="facebook">
              <a data-toggle="tooltip" title="Share on Facebook" data-placement="top" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
           </li>
           <li class="twitter">
              <a data-toggle="tooltip" title="Tweet on Twitter" data-placement="top" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
           </li>
           <li class="google-plus">
              <a data-toggle="tooltip" title="Share on G+" data-placement="top" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
           </li>
           <li class="pinterest">
              <a data-toggle="tooltip" title="Pin on Pinterest" data-placement="top" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
           </li>
           <li class="linkedin">
              <a data-toggle="tooltip" title="Share on LinkedIn" data-placement="top" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           </li>
           <li class="reddit">
              <a data-toggle="tooltip" title="Share on Reddit" data-placement="top" href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
           </li>
           <li class="tumblr">
              <a data-toggle="tooltip" title="Share on Tumblr" data-placement="top" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
           </li>
        </ul>
     </div>
     <div class="clearfix"></div>